* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #4b9c00;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

#title {
    margin: 0;
    font-size: 2.5em;
}

#picture {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #9c0094;
}

#bio {
    text-align: center;
    margin: 20px;
    font-size: 1.1em;
}

section {
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3700ff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin: 10px;
}

#link {
    background-color: #9c0000;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-decoration-color: #ffffff;
}

#link:hover {
    background-color: #003D73;
}

footer {
    text-align: center;
    margin-top: 20px;
}

a:active {
    color: #FF5722;
}

ul {
    flex-direction: column;
    align-items: center;
}
